/* General Styling */

body {
    font-family: Arial, sans-serif;
    background-color: rgb(230, 45, 89);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

#mainContent {
    background-color: #e9d2c4;
    border-radius: 4px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#mainContent hr {
    border-width: 40px;
    border-left: white;
    border-right: white;
    border-top: 0px;
    border-bottom-color: rgb(230, 45, 89);
}

#title {
    color: #2c8898;
    font-family: "Rock Salt";
    font-size: 60px;
    margin-bottom: 20px;
}

#title:hover {
    color: red;
    cursor: pointer;
}

#banner {
    width: 100%;
    height: 100%;
}

#chibi-sign {
    width: 60%;
}

#logo {
    width: 25%;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#top img {
    width: 25px;
    height: 25px;
}


/* Styling the Nav Bar */

#nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-top: 10px;
}

#nav li {
    font-size: 25px;
    text-align: center;
    float: left;
    width: 25%;
}

#nav li a {
    display: block;
    color: rgb(199, 195, 196);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: #111;
    color: white;
}


/* End of general styling and index.html*/


/* Styling the 12 Images 12signs.html*/

#title {
    font-size: 35px;
    color: red;
}

#signs {
    list-style-type: none;
    overflow: hidden;
    background-color: #e9d2c4;
    padding-left: 0px;
}

#signs li {
    margin-top: 25px;
    float: left;
    width: 25%;
}

#signs li a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
}

#signs img:hover {
    border-radius: 60px;
    border-color: white;
    transform: scale(1.5, 1.5);
    transition: all .4s;
}

#signs img {
    border-width: 3px;
    border-style: solid;
    transition: 1s;
    width: 150px;
    height: 150px;
}

figcaption {
    font-size: 25px;
}


/* End of 12signs.html */


/* Styling for contactus.html */

#thankyou {
    float: right;
    display: inline;
    margin-left: 0;
    margin-top: 70px;
    width: 40%;
}

#thankyou img {
    margin-right: 50%;
    width: 80%;
    height: auto;
    border: 8px dotted rgb(230, 45, 89);
}

input {
    background-color: white;
    width: 50%;
    height: 50px;
    padding: 1px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
}

textarea {
    height: 200px;
    width: 50%;
    resize: none;
    font-size: 18px;
}

#form {
    margin-top: 60px;
}

#form p {
    margin-bottom: 3px;
}

input[type=submit] {
    margin-top: 30px;
    background-color: #4CAF50;
    width: 15%;
    color: white;
    padding: 12px 20px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    border-radius: 2px;
}


/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    background-color: #45a049;
    box-shadow: 1px 1px 1px 1px;
}


/* Add a background color and some padding around the form */

form {
    text-align: left;
    padding-left: 30px;
}


/* End of contactus.html */

.z-sign {
    border-style: solid;
    border-width: 3px;
    border-color: black;
}


/* Footer section */

footer {
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}
